{%extends "App1/base.html"%}

{%load static  %}

{%block aboutMe%}
<div class="container">
    <h2 class="text-center text-dark">
        Acerca de Mi
    </h2>
    <br>
    
        <div class="col">
         <div class="">
              <div class="text-center">
                 <p>Hola! Mi nombre es Eliana Casas. Tengo 19 años y soy de Uruguay. Actualmente me ecuentro cursando mi segundo año como estudiante en la Facultad de Ingeniería de mi país. En la facultad conocí la programación e investigando llegué a Coder. Deseo seguir incursionando en este mundo a la par de los estudios universitarios.</p>
              </div>
         </div>
     </div>
    </div>
 </div>
 <br>
 <br>
 <br>
 <br>



{%endblock aboutMe%}


