{%extends "App1/base.html"%}

{%load static%}

{%block login%}


<section class="py-1">
    <div class="container my-1">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2> {{mensaje}} </h2> <br>
            <h1>Inicia sesion con tu usuario y contraseña</h1>
            <p class="fs-5 fw-bold">{{msg_login}} </p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-lg btn-light" style="background-color:grey" type="submit">Iniciar sesion</button>
                    <a class="btn btn-lg btn-light" style="background-color:grey" href="{%url "Register" %}">Registarme</a>

                </form>
            
              
            </div>
        </div>
    </div>
</section>
{%endblock login%}
