{%extends "App1/base.html"%}

{%load static%}

{%block mostrar%}
<section class="py-1">
    <div class="container my-1">
        <div class="row justify-content-center">
            <div class="col-lg-6">

               <h4> Resultados de busqueda </h4>
               {% if cafeterias%}
                    {%for c in cafeterias%}

                        <table>
                           <li> {{c.name}} </li>
                            {{c.direccion}} ||
                            {{c.horario}} <br>
                            {{c.descripcion}}
                        </table>
                    {%endfor%}
                {%else %}
                    <h4> Lo siento, no econtramos cafeterias en tu zona </h4>

                {% endif %}
                
                <h5><a class="btn btn-lg btn-light" style="background-color:grey" href="{%url 'Buscar'%}" style="color: black"> Buscar otra</a> </h5>
                <h5><a class="btn btn-lg btn-light" style="background-color:grey" href="{%url 'ListaCafeterias'%}" style="color: black"> Volver al listado</a> </h5>
            </div>
        </div>
    </div>
</section>
{%endblock mostrar%}

