{%extends "App1/base.html"%}

{%load static%}

{%block postValoracion%}

<section class="py-1">
    <div class="container my-1">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2> ¡Gracias por ayudarnos a mejorar! </h2>
                <h4> <li> <a class="btn btn-lg btn-light" style="background-color:grey" href="{%url 'Agregar'%}" style="color: black"> Añadir cafeteria</a> </li> 
                <li><a class="btn btn-lg btn-light" style="background-color:grey" href="{%url 'Buscar'%}" style="color: black"> Buscar cafeteria</a>  </li>
                <li><a class="btn btn-lg btn-light" style="background-color:grey" href="{%url 'ListaCafeterias'%}" style="color: black"> Ver guía</a>  </li> </h4>
            </div>
        </div>
    </div>
</section>

{%endblock postValoracion%}